[2020-03-20 22:32] cankisagun opened #1 "Structuring of the repo"
@lacabra can you pls suggest a high level org of the repo and create folders as it would be intuitive to separate core/secret_compute, front-end etc. and also add relevant docs regarding secret_compute :)

[2020-03-23 17:17] #1 closed, assigned to nobody

[2020-03-23 19:59] cankisagun opened #2 "Google Map API integration for Global view"
The application will have two ways that allows users to consume data:
1) Individual reporting
2) Global view
This issue is regarding Global view.

Once users add their location to the encrypted DB running inside the Trusted Execution Environment (TEE), the code inside the TEE will cluster all places that users who have tested positive have been to in the past 14 days, with more recent location rec

[2020-03-23 20:10] cankisagun opened #3 "Full stack web support"
We need to build a web application that enables users to:
1) create username and password and unique IDs to be used for TEE computations
2) communicate to Enigma secret compute API (secret compute JSON RPC end points ) to locally encrypt user data. Inputs are <<user_ID, time_stamp, location history, covid-status). See the [following issue](https://github.com/enigmampc/SafeTrace/issues/18)
3) query

[2020-03-23 20:17] cankisagun opened #4 "Notification system"
Background: This tool is a privacy preserving voluntary COVID-19 self-reporting platform for contact tracing. Users share their (encrypted) location history and test status, get a notification if you have been in proximity to higher risk locations.

Detailed explanation:
Users who opt in for the notification system, should receive emails (or other forms of notification like text) if they are found

[2020-03-23 21:00] cankisagun opened #5 "Epidemiology feedback"
Background: This tool is a privacy preserving voluntary COVID-19 self-reporting platform for contact tracing. Users share their (encrypted) location history and test status, get a notification if you have been in proximity to higher risk locations.

We need help defining what high risk locations overlap means. Questions we have are:
- how do we define close proximity to notify people when they hav

[2020-03-24 15:13] cankisagun commented on #2
Global view should also contain data of number of tested in a city level. We need to show how many ppl who are affected in the New York and how many are in the app (self reported).

This is important so that the product doesn't mislead individuals (under fit the severity given low potential reporting sample)

UPDATE: This resource can be used for city / state level official data - https://github.c

[2020-03-24 18:20] FishmanL opened #7 "Deanonymizable/extractable data"
This platform as currently defined allows for extraction of everyone else who's entered's location via search-decision reductions, needs DP

[2020-03-24 18:46] lacabra commented on #7
Thanks @FishmanL for your comment. Can you spell out `DP` for clarity, please?

Would you please mind elaborating on the search-decision reduction argument, and argue for how to mitigate this shortcoming?

Thank you 🙏

[2020-03-24 19:09] FishmanL commented on #7
Sure:  DP = differential privacy

Search-decision:  you repeatedly put in your location at slightly different places to figure out/triangulate the precise locations of every person with the virus, first executing a coordinated attack where you drop new pins at a grid across the place you want to search in order to locate every case.

You can mitigate this by adding some small amount of noise to ea

[2020-03-24 20:35] cankisagun commented on #7
@FishmanL we are currently working on a limited MVP where we can build this. It would be great to add this to the development roadmap and implement as we roll out.

Are there off-the shelf DP libraries in Rust that you can point us to?

[2020-03-24 21:06] FishmanL commented on #7
None that I know of.

[2020-03-25 03:00] andreiyurkevich opened #8 "An alternative tracking mechanism"
https://www.straitstimes.com/singapore/coronavirus-singapore-develops-smartphone-app-for-efficient-contact-tracing

The article describes an application used in Singapore.
"Dubbed TraceTogether, the app is able to identify people who have been in close proximity - within 2m for at least 30 minutes - to coronavirus patients using wireless Bluetooth technology"

[2020-03-25 03:13] andreiyurkevich opened #9 "heat map of safe and high-risk locations"
There is a suggestion for the product roadmap. It would be useful to track the history of places visited by people who were later diagnosed on the disease and create a heat map. The system will have a "score" of places based on the number of visits by probably contagious people. The application can provide information about "clean" areas and the areas where additional caution is recommended.

[2020-03-25 03:20] andreiyurkevich opened #10 "quarantine enforcement"
If the quarantine is mandated by law enforcement agencies then some features of location tracking can be used.
- Law enforcement agency is notified when a quarantined person leaves his/her location.
- Quarantined person is requested to take a geo-located selfie

More details are here
https://www.businessinsider.com/poland-app-coronavirus-patients-mandaotory-selfie-2020-3

[2020-03-25 05:14] lacabra commented on #7
Thanks for your insights @FishmanL. I would like to challenge your assumptions here, because I question that what you propose relates to the workflow we envision, which is as follows:

1. Users who tested positive add timestamped-locations to the dataset inside the enclave
2. An attacker who wants to de-anonymize data does not know neither the number of users who have uploaded data nor the number

[2020-03-25 10:59] FishmanL commented on #7
A constant circle is no better than a single point, since you can figure out the bounds of the circle with enough queries and just note the center.  (in fact, no deterministic answering procedure solves this issue, you need randomness.)  Same's true for time.

This doesn't fully allow you to deanonymize users, it just allows you to get exact times and locations (number of individuals is also possi

[2020-03-25 14:41] cankisagun commented on #9
History of places visited by all users are kept in the DB.
- If you haven't posted positively, we need your location history so that if someone who's reported positive after you, have been in close proximity with you, you can get a notification.
- You have the option to log back in and change your status (positive / negative), while your location history is being stored (for 14 days - current work

[2020-03-25 14:53] ainsleys commented on #8
Thank you @andreiyurkevich -- do you think we should create a `/research` folder where we can maintain a list of these apps?

[2020-03-25 14:54] ainsleys commented on #9
one of the challenges of marking an area "clean" is that it risks giving users a false sense of security, which we must avoid. But agree with you completely on the value of a heatmap!

[2020-03-25 19:10] tuneerguha commented on #9
1. @cankisagun As for the history of places, we could use a framework like OpenDMTP(We could possibly modify a software like openGTS to suit the req). it is primarily meant for vehicular fleet management, but that works as an advantage since it would let people track positive/negative cases. It also allows geo-fencing so people moving in and out of zones can be notified.

2. @ainsleys -  We could

[2020-03-25 23:15] Jay-Lewis commented on #5
@cankisagun I don't have an immediate answer to your question; however, I wanted to reach out to the devs of this project. I am working with a group by the same name (website: https://safetraceapi.org/) . We are working towards very similar goals and doing so by utilizing very similar MPC algorithms. We are connected to a number of epidemiologists in academia who can help answer these questions. W

[2020-03-26 13:46] ainsleys opened #16 "Data Validation"
Users who download their location data from Google Takeout may submit data from the wrong dates, in the wrong format, or may attempt to submit empty data.

The client application should be able to do some measure of local data validation and prep for transmission to the SafeTrace server (prior to data leaving the user's device).
This will probably look like:
JSON file ---> some validation ---> dat

[2020-03-26 13:53] ainsleys commented on #10
A few issues with using contact-tracing for this type of monitoring:
- we aren't yet ingesting live data (that would probably require a mobile app front-end)
- this definitely wouldn't be privacy-preserving, is there any reason LEO to use a privacy-preserving system rather than a standard GPS tracker w/ notis if they have that mandate?

[2020-03-26 16:33] cankisagun commented on #9
@tuneerguha I feel like the applications that are interacting with our DB needs to implement openGTS as the web portal we are building depends on Google Maps for location data. Am I missing something?

[2020-03-26 16:39] tuneerguha commented on #9
@cankisagun Not really, It has support for OpenStreetMap. It may not be as accurate as google maps, but i guess its good enough.

[2020-03-26 18:14] m1ghtfr3e commented on #16
Hi, I could help programming the Backend, but not the full app/web page

[2020-03-26 19:14] cankisagun commented on #16
@m1ghtfr3e
We would be happy to get your help in web service backend (user + password mgmt) for users to login and interact with SafeTrace API.

Let us know if you want to start implementing a web page DB. Happy to jump on a call to discuss in more detail

[2020-03-26 19:46] cankisagun opened #17 "Individual report algorithm"
This issue captures our current thinking around privacy preserving computations and the input data (JSON form for now).

- Ingest JSON data ([sample data here](https://drive.google.com/file/d/1iL_GlfDHxbr-XnXVvWjUccK92CTCA3z9/view?usp=sharing)) from Google maps.
- Individual matches are triggered by Place Visit (lat, lon + a radius based on feedback - _ie. +/- 10 ft_) and time window (based on fee

[2020-03-26 19:58] cankisagun opened #18 "User input fields"
This issue discusses user data inputs besides the location history. We should use this issue to track these inputs

Current suggestions are:
MVP Scope
From web interface
- Covid test result (yes / no / not tested)
- Covid test result date (not relevant if covid test result answer is not / tested)
- Location history (drag / drop JSON file)

From web DB
- Unique_user_ID that corresponds to the user

[2020-03-26 23:06] cankisagun commented on #18
Suggestions for symptom reporting to include the following points:
- fever (we can add different levels-<100 F or >102 F)
- cough: severity
- loss of smell, taste
- sore throat
- muscle pain
- appetite loss
in every category can be added numbers of days since symptoms started

After symptoms we can ask how many people live with that person, so we will find more easily new contacts.

Symptoms are p

[2020-03-26 23:30] cankisagun commented on #16
This is also important to keep the data size down and ensure that TEE can handle as many users as possible

[2020-03-27 17:03] ainsleys commented on #17
@cankisagun can you clarify the requirements for the MVP? We should probably make a new issue that refers only to those goals. We can reference this issue for longer discussion, but for the purpose of tracking our progress to MVP I'd prefer it to be complete & concise.

I propose:

Rust code that runs inside the enclave, takes inputs of `userID`, `infectionStatus`, `latitude`, `longitude`, `time`,

[2020-03-27 17:05] ainsleys opened #20 "Finalize UI Wireframes for MVP"
We need to lock the wireframes to pass on for development of the front-end application
- [ ] Implement changes requested during review (documented in comments on figma)
- [ ] add interactive component for demoing

We can also use additional help here in following capacities:
- [ ] UX review
- [ ] visual design

[2020-03-27 17:13] ainsleys opened #21 "Front-End UI for MVP"
We will need a front-end that:
- interacts with the SafeTrace API (https://github.com/enigmampc/SafeTrace/tree/master/api-server)
- replicates the functionality described by wireframes in https://github.com/enigmampc/SafeTrace/issues/20

We're agnostic to the libraries/frameworks used, tho I think team members are most familiar w/ React.

Some milestones for this issue:

- [ ] app scaffolding adde

[2020-03-27 17:40] ainsleys opened #22 "Backend for managing User IDs"
This server should store `userID`,  `email`, and `password`, and enable users to log-in to their `userID` in the front-end application. It should also enable the front-end to submit the `userID` along with other user-submitted data via the SafeTrace API

[2020-03-27 18:14] FishmanL commented on #17
You're going to want (for DP purposes) to add random noise to the distance between users before checking for a match, see e.g. https://adaptivedataanalysis.files.wordpress.com/2017/11/lect12.pdf for a version of this

[2020-03-27 18:20] ainsleys opened #24 "MVP Matching Algorithm (individual reporting)"
Drawing on this issue: https://github.com/enigmampc/SafeTrace/issues/17

The MVP matching algorithm is Rust code that runs inside the enclave, takes inputs of `userID`, `infectionStatus`, `latitude`, `longitude`, `time`, and `duration`.

The code compares `latitude` and `longitude` between submitted user data and all user data which has been submitted and has a positive test result to find matches

[2020-03-27 18:25] ainsleys commented on #17
Thanks @FishmanL , agree we need to consider the best way to ensure privacy either via noise or limits on granularity of reporting. For MVP that is out of scope-- see https://github.com/enigmampc/SafeTrace/issues/24 for MVP requirements for the matching algorithm. Moving this issue off the project board for now.

[2020-03-27 18:27] ainsleys commented on #24
@lacabra when you have a moment can you make sure these requirements are in line with what you've been anticipating / add any additional detail that could be useful? This is for an MVP and does not have all features included that we've discussed previously.

[2020-03-27 18:31] FishmanL commented on #24
Why return the lat,long of a match rather than just the existence?

[2020-03-27 20:57] drwolf93 commented on #5
Meeting 03/27/2020

Best research study so far that explains most of the questions: https://www.ncbi.nlm.nih.gov/books/NBK554776/
Issues:
1. Close proximity, Radius and Time Span
2. Risk factors
3. Symptoms assessment - risk group
5. What would be great to be done.

1. Close Proximity: + Risk group
https://wwwnc.cdc.gov/eid/article/26/6/20-0412_article one study in China suggest that close proximi

[2020-03-27 21:54] shenrene commented on #16
I agree with this.  The size of these files is massive, and we only need last 14-21 days of data.

[2020-03-27 21:58] shenrene commented on #16
@lacabra I have been looking at this myself.  Happy to help out.

[2020-03-27 22:03] ainsleys commented on #24
@FishmanL that way the front end can query google to find a likely placename. The thinking was people can then know where they were exposed and assess the risk (i.e., oh, that was a grocery store vs. oh, that was a park). It does expose additional data.

[2020-03-27 22:33] drwolf93 commented on #5
Updates:
1% of the popluation infected with Covid 19 has no symptoms.
Also I found this website https://infermedica.com/covid19#use-it and kind of use what we want to make but without the tracking system.

[2020-03-28 17:50] m1ghtfr3e commented on #16
@cankisagun
sorry i couldn't be online the last days...
very disappointing. how i can help specifically? would do it asap if possible

[2020-03-28 21:24] ainsleys commented on #16
@shenrene take a look at the .json file that is produced in "Semantic Location History" folder when you use google takeout to download your location history. AFAIK, we would want a script that basically takes in that .json file, and puts out only placevisits in the last 14 days
placevisit:
[code]

whereas post-processing, the json file should look like this (which is what the API expects to receiv

[2020-03-29 00:42] shenrene commented on #16
@ainsleys I have the code ready for review.  can you add me as a collaborator, I can't seem to create a branch

[2020-03-29 13:57] E3V3A opened #26 "I don't understand anything. Is this an app?"
Is this an app or something else? how do you run this thing?

[2020-03-30 12:43] ainsleys commented on #26
Hey @E3V3A
This is primarily a backend application which is capable of doing both storage and compute tasks on data submitted via an API. That application is rust code which runs inside of an intel sgx eclave, and compares user-submitted data to find matches. Note, this means that neither the server operator nor other users have access to plaintext user data. That work is under construction here:

[2020-03-30 12:49] ainsleys commented on #16
Hey @shenrene I'm so sorry I missed this. Working on it now.

[2020-03-30 12:50] cmalfesi commented on #22
Hi @ainsleys ,
What architecture we should use here? I think would be good a nodejs + MongoDB working as Rest-API.

Questions:
- It is possible that we use the Google sign-in service or we want to avoid using any external service that identifies the user?
- I think we need to save more data like:
createDate, agreeToBeNotified, typeOfUser? (reporter vs observer), testResults, testDate
- User can re

[2020-03-30 13:04] ainsleys commented on #22
Hey @cmalfesi

That architecture seems reasonable to me!

re: questions

1. I think I fall on the side of using google sign-in for the following reasons:
- account recovery is simpler
- bar for security for password management is higher (i.e., account security supports 2fa and authenticator apps)
But, I would like to consult with @lacabra on the risks of this approach.

2. can you let me know what

[2020-03-30 13:08] ainsleys opened #28 "PR from external"
This issue is to resolve any problems with creating branches and PR from collaborators.

 @shenrene we tested this and it looks like external collaborators *are* able to make PRs-- see: https://github.com/enigmampc/SafeTrace/pull/27

Can you let me know how you're trying to do it and what error you're seeing

[2020-03-30 13:09] ainsleys commented on #16
@shenrene issue opened here: https://github.com/enigmampc/SafeTrace/issues/28
Let's take this there and figure it out, so we can leave this issue for data validation convo. Thanks!

[2020-03-30 13:18] ainsleys commented on #28
@shenrene the procedure is, fork this repository, make your changes, and then submit changes as a PR here. LMK if this isn't working and at what stage you are having issues!

[2020-03-30 13:47] ainsleys commented on #16
Thanks to @shenrene we now have a script that converts google takeout to our api endpoint format, and only uses the last 14 days of user data.

https://github.com/enigmampc/SafeTrace/blob/master/client/scripts/last_14d_visits.py

[2020-03-30 13:53] assafmo commented on #28
@shenrene Also on this repo in the GitHub website you can "edit" files and GitHub will automatically fork this repo to your account. The changes you make will be applied on your fork.

![Screenshot from 2020-03-30 16-52-37](https://user-images.githubusercontent.com/22766533/77920242-e75d2400-72a6-11ea-860b-3a8e501fe37b.png)

[2020-03-30 14:08] ainsleys commented on #28
Thanks @assafmo -- I'm closing this b/c we resolved the issue and got @shenrene 's PR brought in. Yay!

[2020-03-30 14:08] #28 closed, assigned to nobody

[2020-03-30 15:57] cankisagun commented on #22
@cmalfesi I think a google sign in is OK also happy to do MongoDB + node js

Regarding other data fields:
- createDate (time + date) makes sense
- agreeToBeNotified (0, 1) makes sense
- type of user -> in the future we are planning to add symptoms as well so we may want to create a status for the user like 0 = not tested, no symptons, 1 positive, 2 high risk symptoms (no need to worry about 2 now)

[2020-03-30 17:34] kistn010 commented on #5
Do you have a citation for your first bullet under 'updates'? Asymptomatic carriage is thought to be much, much higher than this.

[2020-03-30 21:41] cankisagun opened #33 "Individual matching algorithm improvements"
Drawing on this issue: [#17](https://github.com/enigmampc/SafeTrace/issues/17)

Based on [epidemiology feedback issue](https://github.com/enigmampc/SafeTrace/issues/5), we can have high risk and low risk individual interaction reporting.

High risk interactions:
We can report high risk interactions as 2 meters and location overlap of any period of time. This is based on the fact that you can conta

[2020-03-30 21:50] cankisagun commented on #24
@lacabra @ainsleys from the [epidemiology feedback issue](https://github.com/enigmampc/SafeTrace/issues/5), we can potentially change the match criteria to 2 meters and location overlap of any period of time.

We can also leave this out of MVP scope. I detailed this further in issue #33

[2020-03-30 21:58] FishmanL commented on #33
(Btw, if you subtract laplacian noise with lambda ~-0.87, you'll get pretty good DP for a first iteration)

(i.e. once you get the list of covid people, subtract (https://docs.rs/GSL/0.4.25/rgsl/randist/laplace/fn.laplace.html) 2*abs(laplace(0.87)) from each radius before checking if it's less than 2.  only increases your likelihood of false positives by ~2% and coarsely fixes most of the privacy

[2020-03-30 22:07] FishmanL commented on #33
(and there's no risk of false negatives)

[2020-03-30 22:12] cankisagun opened #34 "Symptom reporting (individual reporting / UI work)"
In the individual reporting section, we propose to ask self-reporting users whether they have any symptoms. Given 40% of Covid19 carriers have only mild symptoms and may not have tested, it's important to identify interactions with these individuals as well

This issue builds on Issue #18

User flow in the UI should be:
- User indicated whether they have symptoms or not.
- If user has indicated to

[2020-03-30 22:20] cankisagun commented on #5
@drwolf93 based on your feedback regarding symptom collection based on issue #18 and #35,
is there any research that quantifies how different symptoms quantify in terms of risk. Last we spoke and based on what I see the following seem to be the main symptoms:
- Fever >= 100F
- Dry cough
- Shortness of breath

Your feedback would be very helpful!

[2020-03-30 22:21] cankisagun opened #35 "Client side symptom classification algorithm"
This issue builds on Issue #34

Given 40% of Covid19 carriers have only mild symptoms and may not have tested, it's important to identify interactions with these individuals as well.

In order to reduce the data load on SafeTrace API, we propose to run a classification on self reported symptoms (with output high risk symptoms, medium risk symptoms and low risk symptoms) on the client side and pass

[2020-03-30 22:41] kistn010 commented on #35
_**Comment Updated**
Data from Wuhan reveal that nearly **80% of infections** were spread by patients with mild symptoms or none at all. [Citation](https://science.sciencemag.org/content/early/2020/03/24/science.abb3221.abstract)._

[2020-03-30 22:44] cankisagun opened #36 "Global view SafeTrace algorithm"
This issue builds on issue #2

In order to achieve a certain level of privacy, we propose to run a lightweight clustering algorithm inside the SafeTrace secure DB and passing results to the maps API. This prevents any specific user data to leak to the map API.

The clustering algorithm should return << lan, lat, weight >> to the maps API for each data point to be represented on the map

Next steps

[2020-03-30 22:52] cankisagun commented on #8
Resources are tracked here
https://docs.google.com/document/d/1Hb-Kzv9tp03i70jxt9xxxVbC2ZYLA6_gZ5jR1C46_lg/edit?usp=sharing

[2020-03-30 22:53] cankisagun opened #37 "Post-MVP work"
This issue is a tracker for different post-MVP initiatives

Individual reporting algorithm improvements - Issue #33
Symptom reporting - Issue #34
Client side symptom classification algorithm - Issue #35
Global view SafeTrace algorithm - Issue #36
Notification system - Issue #4
API integration testing - Issue  #39
Google map API for GUI - Issue #45
Delete enclave data after 2 weeks - Issue #48

[2020-03-30 23:33] kistn010 commented on #18
Symptoms commonly reported by patients with COVID-19 include fever (temperature ≥100.4F/38C), cough, shortness of breath (dyspnea). [Citation](https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html).

In adults, emergency warning signs for COVID-19 may include difficulty breathing, persistent pain or pressure in the chest, new confusion or an inability to arouse, or blueness of t

[2020-03-31 00:24] kistn010 commented on #34
I would use "cough" rather than "dry cough".

[2020-03-31 13:46] cmalfesi commented on #22
@cankisagun @ainsleys I will create an MVP of this issue during the day, I hope I can have something  tomorrow.

[2020-04-01 12:33] theoturner commented on #36
- I agree on the positive vs high risk in different colors. While there is correlation, I expect that if you drew the curves, you'd see changes in high risk frequency for a given area not to be in the same time step as positive cases. Visualise it, and you may find a leading indicator relationship (I'd consider the first and second derivatives wrt time). You might even be able to develop a predict

[2020-04-01 15:10] ainsleys commented on #24
Amazing effort from @lacabra and we now have this working within the enclave. Documentation coming soon!

via @lacabra:

[2020-04-01 15:18] FishmanL commented on #24
All you need to make this initial-DP is to change line 252 of data.rs to subtract 2*abs(lap(0.87)), using (https://docs.rs/GSL/0.4.25/rgsl/randist/laplace/fn.laplace.html), it's a simple change that has real privacy benefits

[2020-04-01 18:02] lacabra commented on #24
Thanks @FishmanL. Can you please document the reasoning behind the 2 constants: `2` and `0.87`?

[2020-04-01 18:09] FishmanL commented on #24
Sure -- 0.87 is based on finding the 80% sensitivity of adding an additional random person with covid to the minimum across all people (assuming people are distributed uniformly with at least 10 people with covid  per 10000 meters and the max distance we care about is 100 meters, using the order statistics formulae for the uniform to get that 0.87), and the 2 is because, to avoid false negatives,

[2020-04-01 18:15] FishmanL commented on #24
(the relevant math is 2/(M+1)*(1-x/N)^(M+1) is the tail bound on x, where N is the max distance we care about and M is person density)

[2020-04-02 11:31] cmalfesi commented on #22
FYI: I have forked this project and added a backend subfolder for add the User API endpoints.
I have pushed the first changes. I will be adding more endpoints today.
https://github.com/cmalfesi/SafeTrace/tree/be-express-mongodb-docker/backend

[2020-04-02 15:40] alaaltoros commented on #21
I am working on this issue, starting with the sign-up form and integrating it with the API

[2020-04-02 22:15] cankisagun commented on #26
@E3V3A here's an executive summary we put together
https://bit.ly/3469aS9

[2020-04-02 22:15] #26 closed, assigned to nobody

[2020-04-02 22:17] cankisagun commented on #24
@FishmanL I invite you to open a PR and propose this code in Rust. We can review and merge it. At this point we do not have the bandwidth to add DP to the MVP matching algorithm

[2020-04-02 22:19] cankisagun commented on #16
@shenrene this code needs to run on the client side, which means it needs to be in javascript. Can you help us with that?

[2020-04-02 22:22] cankisagun opened #39 "API integration testing"
Test end to end data flow (encrypting data at client side, running computations inside the enclave and returning data back to the application) for:
- [ ] SafeTrace web portal
- [ ] CoronaTrace
- [ ] Covid Defender

This has a research and implementation phase
- Research phase: understand product requirements, understand data schemas, understand friction points in integration
- Implement an integra

[2020-04-03 02:00] francomendoza commented on #16
@cankisagun @shenrene if you need assistance with the JS version of the transformation/validation I can help.  I presume the idea is after the user selects the file on the client you want to validate/reduce data prior to sending to the server?

[2020-04-03 08:43] shenrene commented on #16
I submitted a pull request https://github.com/enigmampc/SafeTrace/pull/40

[2020-04-03 12:10] CTONishantBijani opened #41 "buildgen make file issue"
Hello Enigmampc,

i am building server and found this :

bindgen Enclave_t.h --default-enum-style=rust --rust-target=nightly --no-recursive-whitelist --use-array-pointers-in-arguments --whitelist-function ocall_.* --raw-line "#![allow(dead_code)] use enigma_types::*; use sgx_types::*;" -- -I/home/nishant/.sgxsdk/sgxsdk/include -I/home/nishant/Nishant/incubator-teaclave-sgx-sdk-master/edl > src/aut

[2020-04-03 14:59] ainsleys commented on #16
@francomendoza that is correct! @shenrene has submitted a PR addressing this already, which I just merged now. you can check it out in https://github.com/enigmampc/SafeTrace/blob/master/client/scripts/last_14d_visits.js

[2020-04-03 15:00] ainsleys commented on #21
Hey @alaaltoros -- @shenrene was able to convert the python script to js ( see this issue https://github.com/enigmampc/SafeTrace/issues/16) . Let me know if you can work with this for transforming the google takeout json into the json expected by the SafeTrace API! As discussed yesterday, this should all take place in the client for privacy reasons

[2020-04-03 15:22] alaaltoros commented on #21
Looks good, will need to modify the script a little to be able to parse a local file (the script downloads it from the server)

[2020-04-03 15:29] FishmanL commented on #22
Wait, why nosql for this?  this seems like a classic case for relationality, maybe postgres?

[2020-04-03 15:41] ainsleys commented on #21
ah-- yep I see. That's my bad, I don't think I clarified where the file originates when discussing requirements with @shenrene . Let me know if you run into any issues!

[2020-04-03 15:47] ainsleys commented on #22
@FishmanL a request for more context in your comment please, many people need to follow this (please note what advantages postgres would confer over current mongoDB solution). We're unlikely to modify anything for the MVP unless the case is really compelling, and afaik mongoDB works fine for this. Appreciate the input & the clarification!

[2020-04-03 16:09] CTONishantBijani commented on #41
using cargo need to install. i was trying with apt install. closing this issue.

[2020-04-03 16:10] #41 closed, assigned to nobody

[2020-04-03 16:11] FishmanL commented on #22
Sure -- so, mongo (and similar nosql solutions) are good when you have unstructured data, that you might need to modify within DB, and that doesn't need to scale to lots of users quickly.

In this case, you have very structured data, it's static once posted (all you're doing is adding new rows) and it needs to scale to lots of rows quickly.  All 3 of these point to using SQL/a similar structured R

[2020-04-03 16:21] ainsleys commented on #22
@FishmanL Just to be really clear, this server is *only* managing unique `userID` -> `email, password` . It should never deal with lat/long/time, that needs to be passed directly from client to the SafeTrace server running code in the TEE.

I'll let @cmalfesi make the call on what approach is sufficient for MVP, but I think we can optimize down the road. At the end of the day, this setup (database

[2020-04-03 16:22] CTONishantBijani opened #42 "Crash on find match"
Hello Team,

i have successfully deployed under development server and was testing a bit for this amazing thing. i found consistent crash on find match API for enclave. Also i am C/C++ developer and would like to take voluntary participate to help society.

OS : Ubuntu 18.08

**Crash Log using gdb :**
[New Thread 0x7ffff35e0700 (LWP 16394)]
Thread 1 "safetrace-app" received signal SIGSEGV, Segment

[2020-04-03 16:23] ainsleys commented on #41
Thank you for updating us on how you resolved this, @Embedded4development . Feel free to open a PR for README or documentation if there is something we can be more clear about that will help others not run into the same speedbump.

[2020-04-03 16:24] FishmanL commented on #22
Ah, aight, then it's still best to have it as postgres/another sql install
but it's less necessary.

On Fri, Apr 3, 2020, 12:22 PM ainsleys <notifications@github.com> wrote:

[2020-04-03 16:37] lacabra commented on #41
Thanks @Embedded4development for reporting this. Yes, I have on my ToDo list to build the documentation on how to properly have an environment setup. In the meantime, if anyone else encounters this issue, it is fixed by running:
[code]

[2020-04-03 16:41] lacabra commented on #42
Hi @Embedded4development thanks for your interest in this project and your offer to help.

I'm in the process of documenting a number of things that need immediate work, and will link them here below. As you may guess one thing that needs more work that I'm aware is error management, so that in an instance like this, it would include a backtrace, and more details about the seg fault.

In the meant

[2020-04-03 16:58] lacabra commented on #36
Thanks @theoturner for your outline and proposed solution. It makes sense at a high level. Given that I sense your familiarity with Rust, would you be in a position to submit a PR to introduce these improvements?

Alternatively, you could post small snippets of code as per your comments to this thread, and someone else could "glue" them together in fully functioning code and submit a PR instead.

[2020-04-03 17:05] lacabra commented on #8
@cankisagun I strongly advocate for keeping all resources on the same platform. Copy all the resources on that Google Doc and move it to a doc on this repo. The link above will get lost in a sea of issues...

[2020-04-03 17:08] CTONishantBijani commented on #42
Hello @lacabra
i am passing following data :

[code]
As per Following example from index.js i am passing data as well as finding match too :

addData('user1', JSON.stringify(data.DataUser1));
addData('user2', JSON.stringify(data.DataUser2));

findMatch('user1');

[2020-04-03 18:15] lacabra commented on #22
I concur with @FishmanL's assessment.

[2020-04-03 21:29] ainsleys commented on #16
@alaaltoros when you make the required changes to this code (intake local file), can open a PR for the new code and move this issue from "Review" to "Done"? Thank you! cc @cankisagun

[2020-04-03 21:39] lacabra commented on #42
ah, yes, I believe I know why this happens. I need to update the documentation on how to set up the environment. I believe it crashes because it's using incompatible versions. Let me document it better, and point you to the right docs... bear with me...

[2020-04-03 22:22] lacabra commented on #42
@Embedded4development look at the changes introduced in this PR #44, which I believe address the underlying issue you are seeing.

Specifically, [this section](https://github.com/enigmampc/SafeTrace/blob/master/enclave/INSTALL.md#references) summarizes the changes between your current setup, and the setup you should have to make this repo work. So you should:

1. [Uninstall the SGX driver and the

[2020-04-03 22:30] cankisagun opened #45 "Google map API for individual reporting"
This issue builds up on Issue #17

Currently individual reporting algorithm returns (lat, lon) and a time. In the MVP we are representing all the matches in a list. This issue offers 2 improvement ares, 1 related to the list view and 1 introduces a map view for the matches:
![image](https://user-images.githubusercontent.com/15679491/78409684-23ea9180-75bf-11ea-90c2-b5ff7cc49378.png)
If helpful - [

[2020-04-03 22:57] cankisagun commented on #35
@codeanticode this seems is similar to your research. We are trying to classify user reported symptom (fever >38 / 100, Cough, sore throat, shortness of breath) based on risk (high risk symptoms, low .. etc.)
If you have any feedback we'd be very happy to incorporate into our thinking
Cheers

[2020-04-04 01:37] cankisagun opened #48 "Delete enclave data after 2 weeks"
We would like to delete user data that's older than 14 days.

This is not currently implemented, however there's an easy fix. This fix requires another end point that only the server would call on a daily basis (setup a cronjob) to delete old data. This endpoint would not be made available at the JSON RPC server so that could only be called internally.

[2020-04-04 10:41] CTONishantBijani commented on #42
@lacabra please update /safetrace/app/Cargo.toml as well for incubator-teaclave-sgx-sdk path

[2020-04-04 11:06] CTONishantBijani commented on #42
Also, After running updated script on Ubuntu 18.04, **sgx-detect** is giving me following output :

`Detecting SGX, this may take a minute...
✔  SGX instruction set
  ✔  CPU support
  ✔  CPU configuration
  ✔  Enclave attributes
  ✔  Enclave Page Cache
  SGX features
    ✘  SGX2  ✘  EXINFO  ✘  ENCLV  ✘  OVERSUB
    Total EPC size: 93.5MiB
✘  Flexible launch control
  ✘  CPU support
✘  SGX system s

[2020-04-04 11:06] CTONishantBijani commented on #42
previously it was
✔  Able to launch enclaves
   ✔  Debug mode
   ✔  Production mode (Intel whitelisted)

[2020-04-04 11:21] CTONishantBijani commented on #42
Sharing output of updated SGX driver installation script here :

[code]

[2020-04-04 12:07] cmalfesi commented on #22
Hey @FishmanL , thanks for your feedback! You are totally right, I agree with you. I have proposed just a quick solution for start asap the MVP without having the perfect analysis of the data structure and how it will change in the path. In general, I like to use MongoDB for things that are not 100% defined and we can always change with fewer efforts, different the case that we have exhaustive ana

[2020-04-04 13:51] lacabra commented on #42
Replying to:

[code]

Done in #49

[2020-04-04 14:05] CTONishantBijani commented on #42
Any update for other issues @lacabra ?

[2020-04-04 14:10] lacabra commented on #42
@Embedded4development, your driver installation failed in your script above. The error is here:
[code]

Everything else looks good.

I just tried reinstalling this driver, and it works fine for me.

Can you try this newer version?
[code]

[2020-04-04 16:09] CTONishantBijani commented on #42
Okay, so it was issue with full script.
i did it by following step by step script commands and everything works well.

[2020-04-04 16:10] #42 closed, assigned to nobody

[2020-04-04 16:41] cmalfesi commented on #22
@ainsleys @cankisagun  I have uploaded the last changes on my Github on this branch:
https://github.com/cmalfesi/SafeTrace/tree/be-express-mongodb-docker/backend
Alaa will work with this and I will continue later.

[2020-04-04 18:38] kistn010 commented on #35
@cankisagun Apologies. Other obligations prevented me from posting some content. Hopefully things will slow down this weekend and I'll be able to contribute. To be clear, you're looking for hoping to categorize a user's risk based on his/her signs/symptoms (SS), correct?

[2020-04-04 19:45] cankisagun commented on #33
Matching period:
Based on [WHO Report](https://www.who.int/publications-detail/the-first-few-x-(ffx)-cases-and-contact-investigation-protocol-for-2019-novel-coronavirus-(2019-ncov)-infection)

Close contact definition is 4 days before symptom onset - “Any person
who had contact (within 1 metre) with a confirmed case during their symptomatic period,
including 4 days before symptom onset”

[2020-04-04 19:55] cankisagun commented on #35
@kistn010, yes that's the idea.
@codeanticode is also working on a similar algorithm to classify the risk of symptoms.

The goal of this is to report to individuals not only diagnosed patients around them but also users who show high risk symptoms

[2020-04-04 20:36] kistn010 commented on #35
Understood.

The majority of people who contract the virus experience only mild symptoms (if any at all). Thus, focusing on signs/symptoms may fail to differentiate.

I think greater gain would come from stratifying users based on their exposure (to the virus/infected person). This is a primary issue given the amount of asymptomatic transmission that's occurring (sp., people worldwide are transmit

[2020-04-06 10:11] theoturner commented on #36
# K-means in Rust for lat/long:

We assume that lat/long is representative of a flat plane. For most cases this is fine, particularly smaller surface areas (@akhil325 could potentialy comment further). I've personally never had problems with this abstraction and clustering, and [given the ongoing dispute about 2D projections of the globe](https://en.wikipedia.org/wiki/Map_projection#Distortion), I

[2020-04-06 10:19] theoturner commented on #36
# Drawing it on Google Maps

I also see you've linked an issue re: google maps. Cluster data is relatively easy to draw on maps, e.g. in React.

First, let's create a drawable var of our points, which you could extract from your props, e.g. say you had prop `clusters` imported from your Rust:
[code]

Then, draw a google map:
[code]

[2020-04-06 10:24] theoturner commented on #36
For more details, see my implementation of clustering + maps for Enigma, [APEX](https://github.com/OutlierVentures/APEX). In this implementation, the contract [only stores ints and uses enigma macros](https://github.com/OutlierVentures/APEX/blob/1fa690765884c45a67d9e535ece297ba432fe3be/secret_contracts/location/src/lib.rs#L113) such as `eformat!`, there's some [input sanitation](https://github.com

[2020-04-06 15:55] alaaltoros commented on #21
Hey @ainsleys

I created this [PR](https://github.com/enigmampc/SafeTrace/pull/50). It is not ready yet.

**It includes the following:**
- Basic UI
- Login/logout with google
- Location data parse script

I Will be updating it as soon as other parts are ready.
Please feel free to try it out, check the UI and give feedback.

P.S. The login/logout functionality requires _google client id_ (check the

[2020-04-06 16:14] cmalfesi commented on #22
Hi @ainsleys , @cankisagun

This [PR](https://github.com/enigmampc/SafeTrace/pull/51/) includes:
* Docker-compose to run MongoDB+NodeJS
* API rest endpoints
* Signup, login, user info
* Support for login with Google sign up
* Report test result

In the readme, you can find the instructions to run it locally.
Let me know if you need that I let it run in a test server somewhere.

[2020-04-06 19:27] cmalfesi commented on #22
Hi,
I have fixed an issue in the PR. This is the new PR.
https://github.com/enigmampc/SafeTrace/pull/52

[2020-04-07 20:32] cmalfesi commented on #4
How the notification system can get the list of encrypted id users with high risk? Will be an endpoint to query on the API Server? will be a query per id or a list of all infected ids?

[2020-04-08 15:08] ainsleys commented on #7
@FishmanL would rate-limiting queries and deleting trailing data (i.e., anything older than 14 days) reduce the risk here? As I understand it in your model, an attacker is essentially creating a series of fake data sets and modifying the time and location slightly every time to "scan" for matches. This could be addressed by say, only allowing once-per-day-per-user updates, or possibly trying to ID

[2020-04-08 15:10] FishmanL commented on #7
I mean, I don't see any way to handle scaling this to lots of users (which is the only way it's really useful) without risking 'an attacker makes lots of fake users that are near each other'

[2020-04-08 15:29] ainsleys commented on #7
Yeah, it's worth looking into what the best options are for making it difficult or expensive to create a ton of fake users without compromising privacy. We could require sign on with some service that provides a layer sybil protection.

[2020-04-08 16:47] FishmanL opened #53 "Why does the MVP return the location of a match rather than just the existence of a match?"
enclave code should be returning a binary for whether there exists a match or not -- this is average-case more efficient (since you can break out of the loop as soon as you find a match) as well as less leaky on the info side.

[2020-04-08 16:59] ainsleys commented on #53
Our thinking is users / client apps get important information about risk from knowing some information about the match. I.e., a match in a small cafe > risk than a match in an open park.

[2020-04-08 17:20] cankisagun commented on #53
Leor, when and where is important.
- If you know where you had a high risk interaction, you can let ppl know who were potentially with you at that time
- If you know when you had a high risk interaction, you can let ppl know whom you've been with after (importance of time)

[2020-04-08 17:22] cankisagun opened #54 "Enclave memory improvement"
Increase enclave memory limit from 4kB to 128MB or 4GB.

The amount of data that the enclave is capable of storing encrypted (through a process known as sealing and unsealing is currently limited to 4kB. This is obviously not limited by disk space, but by the fact that the amount of data to seal/unseal needs to fit inside the enclave memory. Intel SGX documentation states that the enclave limit is

[2020-04-08 17:23] cankisagun opened #55 "Improve enclave error handling - Internal Enigma"
Error handling needs much improvement, as most functions inside the enclave will return success regardless of whether the fail or succeed. This obviously makes it hard to debug and troubleshoot. The developer team at Enigma is working on the right infrastructure for error handling with enigmampc/EnigmaBlockchain. Once that work is completed, it should be straightforward to be ported to this repo.

[2020-04-08 17:23] cankisagun opened #56 "Improve data serialization for JSON inputs"
Enclave data is serialized for sealing/unsealing using JSON format, which is highly inefficient in terms of space. This should be improved using a binary format such as CBOR. The correct library serde-cbor that is SGX compatible should be identified and used, the code adjusted to use that. Data is JSON_serialized in [enclave/src/data.rs] in the first line of create_sealeddata_for_serializable(), a

[2020-04-08 17:24] cankisagun opened #57 "Improve data structure"
Data is overwritten each time a user submits data - this can be improved but is hard. Currently user data is stored inside the enclave as a Rust HashMap indexed by the userId as its key, and the array of locations as its associated data. so everytime a new dataset is added to HashMap overwrites whatever prior entry was there for that key. Improving on this is hard because one would need to find da

[2020-04-08 17:25] cankisagun opened #58 "Client side remote attestation representation"
Need to brainstorm how to display secure connection guarantees to end users.

[2020-04-08 17:37] FishmanL commented on #53
Alright, fair

[2020-04-08 18:34] cankisagun commented on #45
@cmalfesi @alaaltoros here's the result page to-do's. I'd say the priority is:
- Implementing the UI
- Run geocoding + places API

Nice to haves here:
- Google maps representation for matches

[2020-04-08 22:53] cankisagun commented on #4
@cmalfesi as I see there are 3 ways to do it, only the first one offers enough privacy

1) Notifications to be triggered by MongoDB. MongoDB knows the last time a user queries (logs-in), so we can setup a trigger (email) on MongoDB side to prompt the user to sign back in. This way user would check every time _t_ (24 hours) to see if there are new high risk interactions. This will not leak any info

[2020-04-08 23:11] cmalfesi commented on #4
@cankisagun I see and understand the option. I think it is possible a combination of the options 1 and 3. I will think about it on my side a little more and check some options and combinations of cloud services that we can use to make it secure. I will draw an architecture plan so we can discuss it better through a graphic example.

[2020-04-09 18:18] cankisagun commented on #53
Closing the issue as we think it's resolved

[2020-04-09 18:18] #53 closed, assigned to nobody

[2020-04-09 18:41] cankisagun commented on #4
@cmalfesi a good way to communicate Option 1 can be the following:
"In the last 24 hours, X many users have submitted data to the system, log back-in to check whether you've had any high risk interactions"

[2020-04-09 18:42] cankisagun commented on #37
Added to sprint 2 - closed

[2020-04-09 18:42] #37 closed, assigned to nobody

[2020-04-09 18:42] cankisagun commented on #24
Closing the issue as it's finished
For @fishmanL  Differential privacy PR see https://github.com/enigmampc/SafeTrace/pull/43

[2020-04-09 18:42] #24 closed, assigned to lacabra

[2020-04-09 18:44] ainsleys commented on #20
These have been finalized for MVP now

[2020-04-09 18:44] #20 closed, assigned to ainsleys

[2020-04-09 18:46] ainsleys commented on #18
For further discussion of symptom reporting see #34 . Closing this issue as the inputs for MVP have been finalize, we'll make a new issue if we decide to update that in a subsequent version

[2020-04-09 18:46] #18 closed, assigned to nobody

[2020-04-09 18:47] ainsleys commented on #17
This has been implemented for MVP, but noting that improvements are now tracked in #33

[2020-04-09 18:47] #17 closed, assigned to nobody

[2020-04-09 18:47] ainsleys commented on #10
Closing this because there's no next steps at this time, feel free to reopen if you feel differently @andreiyurkevich

[2020-04-09 18:47] #10 closed, assigned to nobody

[2020-04-09 18:49] ainsleys commented on #7
#43 for @FishmanL current work on this.

[2020-04-09 18:52] ainsleys commented on #3
Closing this as we now have front-end UI work in review in https://github.com/enigmampc/SafeTrace/pull/50

[2020-04-09 18:52] #3 closed, assigned to nobody

[2020-04-10 03:41] codeanticode commented on #35
@cankisagun sorry for the slow reply. I have worked on some diagnosis/prognosis prediction models for Ebola with similar sign & symptom data as the input. Logistic regression models are a common choice for kind of prediction tasks.

[2020-04-10 18:14] cankisagun opened #59 "Research GPS collecting apps"
Let's look into applications that already collect user location data (lat,lon)

[2020-04-12 18:28] FishmanL commented on #57
Heh, I actually just had thoughts for this -- I'd recommend as a first pass splitting up the time/location stamps into 0.05 degree lat long square chunks in location and 15 minute increments of time, with user-data hashmaps stored at each point in that latXlongXts array (I'm assuming Rust can handle sparse vectors in O(1) with some sort of standard hashmap modification, otherwise this scales beaut

[2020-04-12 18:38] FishmanL opened #60 "Potential post-MVP refactor"
Something I was considering:  why not refactor the API to be as follows:

SSO-requiring/Sybil requiring methods:
Register user -- paramterized with phone #/notification method user submits some SSO/OAuth style callback to server, gets assigned an ID in the backend for IDs, call returns ID + nonephemeral key.

Non-SSO requiring methods:
Add location history to user: parameterized with user ID/user

[2020-04-12 20:17] ainsleys commented on #60
Hi Leor, can you clarify how this maps onto / replaces the current 4 endpoints?

[2020-04-12 20:23] FishmanL commented on #60
Sure.
Register user is a new API call entirely for user ID generation.
addLocationHistory and convertTimeRangeToInfected together replace the addPersonalData endpoint.
Under this architecture the find-match endpoint is entirely deprecated, matches get found eagerly rather than lazily (i.e. whenever a new user adds data that causes us to note a match, the matched user should be notified)

[2020-04-13 11:14] cmalfesi commented on #4
@cankisagun  @ainsleys

I have researched and analyzed different user cases regarding Options 1 and 3 and here I share my vision about how we should proceed.

# Analysis

## Option 1
"_Notifications to be triggered by MongoDB. MongoDB knows the last time a user queries (logs-in), so we can setup a trigger (email) on MongoDB side to prompt the user to sign back in. This way user would check every t

[2020-04-15 11:23] cmalfesi opened #62 "findMatch function returns error"
@lacabra
Woking on the frontend I'm receiving an error. Using curl get also an error. I have checked the documentation and
`curl -H "Content-Type: application/json" -d '{"method":"findMatch","jsonrpc":"2.0","params":{"encryptedUserId":"e8e7c1971b7bdb8d9d78df1b8b88f60f731f08688e47731f530df90756c07dbfdc8c9ca048c26f055843a0f1f07cc68d7700ad7b","userPubKey":"7b2d957d4fa5682067aeebdaee6c34e640e4ce4ae4f8

[2020-04-16 17:25] cankisagun commented on #4
@cmalfesi thank you for the detailed description. Let @ainsleys and I think about this. This is a part where it's helpful to get feedback from partner apps.

I would like to highlight that for Option 3 to work, we  need to add notification information into the SGX b/c we only want opt-in users to receive email / have their information be shared with the email server

[2020-04-16 17:36] lacabra commented on #62
Thanks @cmalfesi for your report. I'm looking at this right now, and so far I can confirm that the server is up and running, and responding correctly to requests

[2020-04-16 17:58] lacabra commented on #62
@cmalfesi You are seeing two different errors here:

There is an error with the `curl` request that I am investigating. It causes a segmentation fault on the enclave, which then restarts, and results in the `Bad Gateway` that you are seeing, because the upstream server fails. This is not the error that we want to focus on here...

If you look at the Javascript code in the `client/` folder, there i

[2020-04-17 15:36] stefan52a opened #64 "Help offer"
We (https://www.zoof-it.com/copy-of-circle-app) would like to help in the following fields we have experience in, a.o.:
Secure Notification systems, Social inclusion in trusted groups (responsibility in app usage), Data privacy, some Front-end design UX/UI and Devops, strong in UTXO blockchains, and some solidity.

[2020-04-19 13:07] cmalfesi commented on #62
@lacabra
I share here a small video that shows the steps and what endpoint is returning a problem.
[Video of running frontend](https://drive.google.com/open?id=1Z-29uU3WbLdIaV-eYnNDOGUsZoq2Eq7Q)

Regarding the Javascript code in the client/, we were using that version but I had the CORS problem calling the endpoint 'addPersonalData' when with Curl it was working perfect, that is why I have improve

[2020-04-19 13:26] assafmo commented on #62
@lacabra Do we need to add the CORS header on the server for this?

[2020-04-19 16:34] lacabra commented on #62
@assafmo CORS is set up [here](https://github.com/enigmampc/SafeTrace/blob/3988f5a904daf882693b40edd3c2da6c43ca7fc1/api-server/index.js#L124), and as per documentation, these are the [defaults](https://www.npmjs.com/package/cors#configuration-options), which set `origin="*"` which should accept requests from any domain. If we modify this code, ping me, and I will push the changes to the server to

[2020-04-19 17:49] assafmo commented on #62
Cool, thanks. No plans to change the code for now.
@cmalfesi Sorry so I don't get it... Why and where you are seeing CORS errors?

[2020-04-19 22:55] cmalfesi commented on #62
@assafmo
AS I have shared on my video on this [comment](https://github.com/enigmampc/SafeTrace/issues/62#issuecomment-616130333), when I try to use  `findMatch` in the frontend, it returns CORS error.

This is called after upload my location file and try to show the results.
../UIcode/src/Pages/Results/index.jsx

Some days ago, we had the same problem with the endpoint `addPersonalData`, but it wa

[2020-04-21 08:51] cmalfesi commented on #62
@lacabra
I was trying to fix the CORS problem when I call the `findMatch` in the React frontend, but I couldn't get it working well.
I have tested your javascript script from ../client/index.js and it works good only with your example.
If I try to run it with the id user hash value it doesn't work well.

Here the example using the hash value created from the email users:
![image](https://user-imag

[2020-04-29 23:51] justintoronto opened #74 "please add Ryerson University team from Toronto, Canada"
Hi Can,

Can you please add these users as Contributors?
We have spoken to Can Kisagun and told us to raise a GitHub issue.

We would like to get the IBM RPC Server credentials in the Client and API

Ryerson University Team
justin.keswick@gmail.com
a.mehran@gmail.com
justintoronto@hotmail.com
maksym.brylkov@gmail.com
mark.donaldson@ryerson.ca

const zmq = require("zeromq");
const cors = require('c

[2020-04-29 23:51] cankisagun commented on #64
@stefan52a sorry missed this message. Happy to jump on a call to discuss further. Feel free to shoot me an email can@enigma.co

[2020-04-29 23:53] cankisagun commented on #74
@lacabra can you pls help with RPC server credentials?

[2020-04-30 00:56] lacabra commented on #74
Hi @justintoronto, thanks for your interest in contributing to SafeTrace 💪

I am not sure I understand your request:

1. Anyone can submit contributions to this public repository. Can you please clarify what you mean by adding these users are contributors? They are all welcome to fork this repo, make contributions and submit a Pull Request (PR) like others are actively doing already.

2. Kindly ex

[2020-04-30 04:30] Montana opened #75 "What's the fastest you can delete enclave data"
Title describes my question pretty well.

Thank you for what you're doing.

[2020-04-30 07:51] assafmo commented on #75
Nanoseconds?

[2020-04-30 12:26] justintoronto commented on #74
Hi Can and Victor,

So replace the localhost with safetrace.enigma.co? I remember reading that
in the notes that the server only responds on a certain port.
Thanks again for the call yesterday. We simply needed the server name. No
credentials required.

 https://safetrace.enigma.co/

We will not be forking your code in the short term. Our approach is more to
identify where hot spots are locally in

[2020-04-30 13:33] lacabra commented on #74
@justintoronto: Yes, that is correct, replace `localhost` with https://safetrace.enigma.co/.

As a matter of fact, this replacement has just been pushed to the code in PR #76

Closing this issue as seems resolved. Feel free to reopen otherwise.

[2020-04-30 13:33] #74 closed, assigned to ainsleys, lacabra

[2020-08-12 04:07] sbellem opened #88 "Error when running make to build safetrace/enclave"
When following the instructions under https://github.com/enigmampc/SafeTrace/tree/master/enclave#installation, I get the following error for step 4 (running `make`):

[code]

I've tried using a different nightly build, but then ran into other issues. So for now, in order to proceed forward, I followed the **help** message in the above error:

[code]

which means that I added the line `#![feature(c

[2020-08-12 04:13] sbellem opened #89 "Document safetrace/enclave dependencies for libzmq and llvm-config"
As I went through the installation and build steps for the safetrace/enclave, I was missing `libzmq3-dev` (ubuntu 18.04) and had to symlink `llvm-config-6.0` (`ln -s /usr/bin/llvm-config-6.0 /usr/local/bin/llvm-config`).

I could make a pull request documenting these dependencies and details if it makes sense. Perhaps, `libzmq3-dev` can be added to the script shown under https://github.com/enigmam

[2020-08-12 20:41] sbellem opened #91 "getEnclaveReport request error"
When trying out the client requests as documented under https://github.com/enigmampc/SafeTrace/tree/master/client, all requests work except for the `getEnclaveReport` one.

Ouput from `curl` request:

[code]

Ouput from api server:

[code]

Output from enclave:

[code]

I wonder why it's going through https://sgx.enigma.co/api ...

When I tried a day earlier, same build, I was getting a 500 error,

[2020-08-13 03:01] sbellem opened #92 "enigma-core dependency is archived; is there a replacement?"
I'd like to understand if something is replacing the enigma-core library, which is a dependency for SafeTrace. I could not find information on the repository README of enigma-core, and it's not possible to create new issues. Hence, I am asking here in the hope to better understand the on-going development of SafeTrace and its `enigma-core` dependency.

[2020-08-13 07:58] assafmo commented on #92
The enigma-core code is good but archived because we've moved development to https://github.com/enigmampc/SecretNetwork. So for now I think It's fine.

[2020-08-13 15:24] sbellem commented on #92
Thanks for the information!

[2020-08-14 19:29] #92 closed, assigned to nobody